body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    font-size: 32px;

    color : white;
    background-color: rgb(46, 167, 46);
}

h1 {
    color: #ffffff;
}

#question {
    font-weight: bold;
    color: #fffb00;
}

#options {
    list-style: none;
    padding: 0;
}

#options li {
    margin-bottom: 10px;
}

#answerButton {
    width: 300px;
    height: 100px;
    font-size: 36px;
    padding: 10px 20px;
    
    background-color: #ffffff;
    color: #000000;

    border: none;
    cursor: pointer;
    font-weight: bold;
}

#answerButton:hover {
    background-color: #656668;
}
